<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Current Weather</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    
    <ion-spinner
      name="crescent"
      class="page-loader"
      *ngIf="!todaysWeather || !futureDaysForecast"
    ></ion-spinner>

    <ion-grid *ngIf="todaysWeather && futureDaysForecast">
      <section id="main-weather">
        <ion-row>
          <!-- Current Weather-->
          <ion-col size="12">
            <h1 class="location">
              {{todaysWeather?.name}}, {{todaysWeather?.sys.country}}
            </h1>
            <p>{{todaysWeather?.weather[0].description | titlecase}}</p>
            <div class="weather-icon">
              <img
                class="current-weather--img"
                src="http://openweathermap.org/img/wn/{{todaysWeather?.weather[0].icon}}@2x.png"
                alt=""
              />
            </div>
            <span class="current">{{todaysWeather?.main.temp}}</span>
            <p class="temp-range">
              <span class="high">H {{todaysWeather?.main.temp_max}}</span> |
              <span class="low">L {{todaysWeather?.main.temp_min}}</span>
            </p>
          </ion-col>
        </ion-row>
      </section>
      <section id="future-weather">
        <!-- Future Forecast -->
        <div class="slot-container" *ngFor="let forecast of futureDaysForecast">
          <h3 class="day">{{forecast.date}}</h3>
          <div class="weather-icon">
            <img
              src="http://openweathermap.org/img/wn/{{forecast.weather[0].icon}}@2x.png"
              alt=""
            />
          </div>
          <p class="conditions">
            {{forecast.weather[0].description | titlecase}}
          </p>
          <p class="temp-range">
            <span class="high">{{forecast.temp.max}}</span> |
            <span class="low">{{forecast.temp.min}}</span>
          </p>
        </div>
      </section>
    </ion-grid>
  </div>
</ion-content>
