<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Current Weather</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-grid>
      <section id="main-weather">
        <ion-row>
          <!-- size-lg="6" -->
          <ion-col size="12">
            <h1 class="location">Chicago, IL</h1>
            <div class="weather-icon">
              <ion-icon class="main-weather--icon" name="sunny-outline"></ion-icon>
            </div>
            <span class="current">72</span>
            <p class="conditions">Sunny</p>
          </ion-col>
        </ion-row>
      </section>
      <section id="future-weather">
        <!-- Future Forecast -->
          <div class="slot-container" *ngFor="let forecast of dailyForecast">
            <h3 class="day">Mon</h3>
            <div class="weather-icon">
              <ion-icon class="secondary-weather--icon" name="partly-sunny-outline"></ion-icon>
            </div>
            <p class="conditions">Partly Cloudy</p>
            <p class="temp-range"><span class="high">64</span> | <span class="low">48</span></p>
          </div>
      </section>
    </ion-grid>
  </div>
</ion-content>
