#main-weather {
  justify-content: center;
  display: flex;
  align-items: center;
  padding: 1rem;
  text-align: center;

  .main-weather--icon {
    color: black;
    font-size: 8rem;
  }

  .main-weather--temp {
    font-size: 6rem;
    width: 100%;
  }
}

/*----------------
	future-weather Forecast
-----------------*/
#future-weather {
  margin-bottom: 10%;
  padding: 0 10%;

  .secondary-weather--icon {
    color: black;
    font-size: 4rem;
  }
  .slot-container {
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    margin: 0;
    padding: 5% 10%;
    width: 100%;
  }
  .slot-container:first-child {
    border-top: 1px solid rgba(0, 0, 0, 0.25);
  }

  .day {
    padding: 0;
    text-align: left;
    text-transform: uppercase;
  }
  .weather-icon {
    float: right;
    font-size: 0.5em;
    height: 50px;
    margin-left: 10%;
    margin-top: -5%;
    width: 50px;
  }
  #future-weather p {
    text-align: left;
  }
}

.current:after,
.high:after,
.low:after {
  content: "\00b0";
  padding: 1px;
}

/*----------------
	Media Queries
-----------------*/
@media (min-width: 550px) {
  /* future-weather Forecast */
  #future-weather {
    font-size: 1.1rem;
    padding: 0;
    margin-bottom: 3%;
  }
  #future-weather > .slot-container {
    border-bottom: none;
    float: left;
    padding: 20px;
    width: 33.33%;
  }
  #future-weather > .slot-container:first-child {
    border-top: none;
  }
  #future-weather > .slot-container:not(:last-child) {
    border-right: 1px solid rgba(0, 0, 0, 0.25);
  }
  #future-weather .day,
  #future-weather p {
    text-align: center;
  }
  #future-weather .weather-icon {
    font-size: 0.56em;
    float: none;
    height: 60px;
    margin: 10% auto 5%;
    width: 60px;
  }
}
